.third {
    padding: 30px 36px;
    position: relative;
    z-index: 10;
}
.thirdList {
        float: left;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
.thirdItems {
        display: inline-block;
        background-color: rgb(72, 46, 83);
        margin-right: 15px;
        padding: 5px 8px;
        color: white;
        font-size: 16px;
        width: 100%;
        white-space: nowrap;
    }
.thirdLink {
        height: 33px;
        width: 33px;
        border: 1px solid #c0c0c0;
        padding: 0 8px;
    }

svg {
    fill: white;
    margin-right: 8px;
}

.twitter {
    fill: black;
    
}


